<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="/img/gettyimages-103572566-594x594.jpg" alt="shakira1"/>

    </div>
    
    <div>
        <img src="/img/shakira.jpg" alt="shakira2"/>
    </div>

    <div>
        <img src="/img/Shakira_Rio_02_cropped.jpg" alt="shakira3"/>
    </div>
</body>
</html>