<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>Magia (1991)</li>
        <li>Peligro (1993)</li>
        <li>Pies Descalzos (1995)</li>
        <li>Dónde Están los Ladrones? (1998)</li>
            <li> Service (2001)</li>
                <li>Fijación Oral, Vol. 1 (2005)</li>
                    <li>Oral Fixation, Vol. 2 (2005)</li>
                        <li>She Wolf (2009)</li>
                            <li>Sale el Sol (2010)</li>
                                <li>Shakira (2014)</li>
                                    <li>El Dorado (2017)</li>
    </ul>
</body>
</html>